body
{
    background-image: url(https://www.oxfordwebstudio.com/user/pages/06.da-li-znate/sta-je-html/sta-je-html.jpg);
    /*ovo služi za poravnjane slike gore */
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
}
p
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
}
p.citat
{
    font-style: italic;
    font-size: 12px;
    border: 1px solid #000;
    background-color: #FFFFCC;
}
