body
{
    background-image: url(https://www.oxfordwebstudio.com/user/pages/06.da-li-znate/sta-je-html/sta-je-html.jpg);
    /*ovo služi za poravnjane slike gore */
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
}
