body
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsubI1xnS2EsbFC7IKOtHXy3o2yp5zNGHX8-mLk-0nVw&s);
    /*ovo služi za poravnjane slike gore */
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
}
p
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
}
p.citat
{
    font-style: italic;
    font-size: 11px;
    border: 1px solid #000;
    background-color: #ffffcc;
}
p.drugi
{
    color: firebrick;
    text-align: center;
    text-decoration: underline;
    border-style: solid;
    border-width: thin;
    border-left-color: white;
    border-bottom-color: white;
    border-right-color: black;
    border-top-color: black;
    margin-left: 4%;
}
p.treci
{
    text-align: right;
    border-style: inset;
    border-width: thick;
    border-color: green;
    padding: 15px;
    margin-left: 8%;
}
h1
{
    margin-top: 2%;
}
img.desna
{
    float: right;
}
